@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./nami.png);
    background-color: #002;
    color: white;
    font-family: 'Poppins', sans-serif;
}

h1{
    text-align: center;
    margin: 2rem 1rem;
    margin-bottom: 0;
    font-family: 'Limelight', cursive;
    text-shadow: 0 0 10px #0af;
}

h3{
    text-align: right;
    padding: 1rem;
    margin: auto;
    margin-bottom: 2rem;
    font-family: 'Limelight', cursive;
    text-shadow: 0 0 10px #0af;
    font-size: medium;
    max-width: 500px;
}

h2{
    background-color: #000;
    color: #eee;
    padding: 1rem;
    position: absolute;
    left: 0;
    top: 1rem;
    border-radius: 0 30px 30px 0;
    z-index: 99;
}

a{
    text-decoration: none;
    color: white;
}

.p-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 4rem;
    list-style: none;
}

.p-list li{
    border-radius: 20px;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 0 0 20px #0af;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.p-list li .image{
    width: 100%;
}
.p-list li .image img{
    width: 100%;
    height: 100%;
}

.discription{
    background-color: rgba(0, 0, 34, 0);
    color: rgba(0, 0, 34, 0);
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    
}

.discription:hover{
    background-color: rgba(0, 0, 34, 0.5);
    backdrop-filter: blur(3px);
    color: white;
}

.btn{
    padding: .5rem 1rem;
    border: none;
    background-color: #000;
    color: #eee;
    border-radius: 30px;
    z-index: 3;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.github{
    position: absolute;
    background-color: black;
    border-radius: 100%;
    padding: 1rem;
    width: 100px;
    height: 100px;
    right: -20px;
    top: -20px;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
}
.github img{
    width: 100%;
}

@media (max-width: 900px) {
    .p-list{
        grid-template-columns: 1fr;
        padding: 2rem;
    }
}

@media (max-width: 525px) {
    .p-list{
        grid-template-columns: 1fr;
        padding: 1rem;
    }
    .github{
        width: 50px;
        height: 50px;
        top: -10px;
        right: -10px;
        font-size: 10px;
    }
    h2{
        padding: .5rem;
        font-size: 14px;
    }

    .btn{
        padding: .5rem .7rem;
        font-size: 12px;
    }
}

footer{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    margin-top: 2rem;
}